<div class="fullpage">
    <div class="row">
      <div class="col-6">
        <button routerLink="vdo1" >
        <img src="../assets/images (2).jpeg" alt="">
      </button>
    </div>
      <div class="col-6">
        <button routerLink="vdo2">
          <img src="../assets/images (1).jpeg" alt="">
        </button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6">
        <button routerLink="vdo3">
          <img src="../assets/images.jpeg" alt="">
        </button>
      </div>
      <div class="col-6">
        <button routerLink="vdo4">
          <img src="../assets/images (3).jpeg" alt="">
         
        </button>
      </div>
    </div>
  </div>

  
 